.login{
    height: 100vh;
    width: 100vw;
    background-color: #1877f2;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .headings{
    height: 80%;
    width: 50%;
     color: white;
     gap: 20px;
     outline: none;
     border-radius: 10px;
     
}
.login h3{
    margin-bottom: 30px;
    font-size: 30px;
}
.headings ,.iconss{
    margin-bottom: 20px;
}


.mains{
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 2vh;
    border-radius: 10px;
    background-color: white;
    border: none;

}

.idd{
    height: 6vh;
    width: 65%;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 2.5vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
   
  
    
}
.logg{
    height: 6vh;
    width: 60%;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 7px;
}
.conts , a{
    font-family: sans-serif;
    color: black;
    font-size: small;
    text-decoration: none;
    
}

.green{
    background-color: green;
    height: 10%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.user_iconss{
    position: relative;
    top: 45px;
    right:  135px;
    color: gray;
}

.warnings{
    /* size: 5px; */
    color: red;
    font-size: 12px;
}